/* Style-NAVBAR */
#nav-title {
    color:black;
    font-weight: 500;
    padding-left: 2rem;
}

#nav-title:hover {
    color: #1C0C58
}

#navbar-links {
    color:black;
    font-family: 'Be Vietnam Pro', sans-serif;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 300;
}

#navbar-links:hover {
    text-decoration: underline;
    color:orangered;
}

/* Sytle-BODY */
.main-content {
    padding-left: 25%;
    padding-right: 25%;
    padding-top: 5%;
}

.main-content .row .intro {
    font-family: 'Courier New', Courier, monospace;
    font-size:xx-large;
    font-weight: 700;
}

.main-content .row .bio {
    font-family: 'Hubballi', cursive;
    font-size: large;
    line-height: 90%;
}

.main-content .row .btn-download {
    font-family: 'Work Sans', sans-serif;
    font-weight: 700;
    background-color: #0C1E7F;
    color: white;
    border: None;
    border-radius: 5px;
    padding: 5px;
    padding-left: 1rem;
    padding-right: 1rem;
    margin-right: 1rem;
}

.main-content .row .btn-download:hover {
    background-color: #D9D7F1;
    color: #072227;
    border-radius:10px;
    padding: 5px;
    padding-left: 1rem;
    padding-right: 1rem;
}

.main-content .row .btn-contact {
    background-color: white;
    border: 2px solid #1C0C58;
    border-radius: 0px;
    color: #203239;
    padding: 3px;
    padding-left: 1rem;
    padding-right: 1rem;
}

#user-img {
    padding-top: 1rem;
    width: 12rem;
    height: 12rem;
    border-radius: 50%;
}
